
 <div class="row owl-theme owl-carousel owl-packages">
{{#each data.products}}
<div class="card cardBody">
 <img src="{{this.image}}" class="card-img-top" alt="...">
 <div class="card-body ">
   <h5 class="card-title">{{this.name}}</h5>
   <p class="card-text">{{this.description}}</p>
 </div>
 <ul class="list-group list-group-flush">
   <li class="list-group-item">${{this.price}}</li>
   <li class="list-group-item"><a href="/category{{this.category}}/details/{{this.id}}">View product details</a>
  </li>
   <li class="list-group-item"> {{>addcart}}</li>
 </ul>
</div>
{{/each}}
</div>


    
    {{!-- {{this.id}} {{this.name}} {{this.price}} <br> --}}
    
   


