
{{#each data.products}}
    
     <img src="{{this.image}}" class="displayImg" alt="">
     <h2 class="">{{this.name}}</h2>
     <p>{{this.description}}</p>
     <p>Price: ${{this.price}}</p>
    
    {{>addcart}}

         <div class="row owl-theme owl-carousel owl-packages">
        {{#each this.gallery}}        
        {{!-- Our image loop --}}
        <img class="img-fluid card-img-top galleryimages " src="{{this}}" alt="">

        {{/each}}
        </div>
     {{>featured}}
     
               
{{/each}}












        

